#app {
  max-width: 450px;
  margin: 0 auto;
}
::-webkit-scrollbar {
 display: none;
  width: 0;
}
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
ul, ol{
  list-style: none;
}
button, input{
  font: inherit;
}
:focus{
  outline: none;
}